# Virtual Environment
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Data files (optional - if large)
data/*.csv

# Logs
*.log

# SQLite database (if any)
*.db